* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*@font-face {
    font-family: 'CustomFont1';
    src: url('path/to/customfont1.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont2';
    src: url('path/to/customfont2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}*/


body {
    height: 100vh;
}

:root {}


/*hero*/
.hero__title {
    margin: 0;
}

.hero, .wizard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* wizard */
.wizard__prompt {
    font-size: clamp(5%, 3rem, 5rem);
}

/* app */
.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.board .cell {
    border: 1px solid black;
}
