* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

/* app */
.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.board .cell {
    border: 1px solid black;
}
